.collapse_container{
    width: 82%;
    margin : auto;
    margin-top: 31px ;
}

.button_container{
    position: relative;
    z-index: 2;
    height: 47px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:var(--main-color);
    border-radius: 5px;
    margin-top: 31px ;
}

.button_container:hover{
    cursor: pointer; 
}

.collapse_label{
    font-size: 24px;
    line-height: 142.6%;
    color: var(--second-color);
    margin-left: 14%;
}

.collapse-arrow-down{
    transform: rotateZ(-90deg);
    background: var(--main-color);
    color: var(--second-color);
    margin-right: 8px;
    font-size: 35px !important;
}

.collapse-arrow-up{
    transform: rotateZ(90deg);
    background: var(--main-color);
    color: var(--second-color);
    margin-right: 8px;
    font-size: 35px !important;
}


.collapse_text_contenair{
    position: relative;
    background-color:var(--second-bg-color) ;
    border-radius: 0 0 10px 10px;
    margin-top: -5px;
    z-index: 1;
}

.collapse_text{
font-weight: 400;
font-size: 24px;
line-height: 142.6%;
margin-left: 3%;
margin-right: 3%;
margin-top: 0px;
padding-top: 35px;
padding-bottom: 50px;
white-space: pre-line;
}


/* -------------------  Responsive ----------------------*/



@media screen and (max-width: 576px) {

    .collapse_container{
        width: 100%;
        margin-top: 19px ;
    }
    
    .button_container{
        height: 30px;
        width: 100%;
        border-radius: 5px;
    }
    
    .collapse_label{
        font-size: 13px;
    }
    
    .collapse-arrow-down{
        margin-right: 5px;
        font-size: 20px !important;
    }
    
    .collapse-arrow-up{
        margin-right: 5px;
        font-size: 20px !important;
    }
    
    .collapse_text{
        font-weight: 400;
        font-size: 24px;
        line-height: 142.6%;
        margin-left: 3%;
        margin-right: 3%;
        margin-top: 0px;
        padding-top: 20px;
        padding-bottom: 35px;
        font-size: 12px;
    }

}