.collapse_container{
    width: 82%;
    margin : auto;
    margin-top: 31px ;
}

.button_container{
    height: 47px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FF6060;
    border-radius: 5px;
    margin-bottom: 31px ;
}
.button_container:hover{
    cursor: pointer;
}

.collapse_label{
    font-size: 24px;
    line-height: 142.6%;
    color: #FFFFFF;
    margin-left: 14%;
}

.collapse-arrow{
    background: #FF6060;
    color: #FFFFFF;
    margin-right: 4%;

}

.collapse_text{
font-weight: 400;
font-size: 24px;
line-height: 142.6%;
color: #FF6060;
background-color: #F7F7F7 ;
margin-left: 1.1%;
margin-right: 3%;
margin-bottom: 36px;
}

/* -------------------  Responsive ----------------------*/



@media screen and (max-width: 576px) {

    .collapse_container{
        width: 100%;
        margin-top: 19px ;
    }
    
    .button_container{
        height: 30px;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 20px ;
    }
    
    .collapse_label{
        font-size: 13px;
    }
    
    .collapse-arrow{
        background: #FF6060;
        color: #FFFFFF;
        margin-right: 4%;
        font-size: 45px;
    }
    
    .collapse_text{
    font-weight: 400;
    font-size: 12px;
    line-height: 142.6%;
    color: #FF6060;
    margin-left: 1.1%;
    margin-right: 3%;
    margin-bottom: 36px;
    }


}