.profilHost_contenair{
    display: flex;
    align-items: center;
}

.profilHost_name{
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    text-align: end;
    white-space: pre-wrap;
    color: #FF6060;
    margin-right: 10px;
}

.profilHost_face{
    height: 64px;
    width:64px; 
    object-fit: cover;
    border-radius: 50%;
}


.collapse_contenair{
    display: flex;
}

  /* -------------------  Responsive ----------------------*/
  
  
  @media screen and (max-width: 576px) {

    .profilHost_name{
        font-size: 12px;
        color: #FF6060;
    }
    
    img{
        height: 32px;
        width:32px; 
    }
    

  }