.profilHost_contenair{
    display: flex;
}

.profilHost_name{
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #FF6060;
    margin-right: 10px;
}

img{
    height: 64px;
    width:64px; 
    border-radius: 50%;
}

  /* -------------------  Responsive ----------------------*/
  
  
  @media screen and (max-width: 576px) {
    .profilHost_contenair{
        display: flex;
    }
    
    .profilHost_name{
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;
        display: flex;
        align-items: flex-start;
        text-align: right;
        color: #FF6060;
        margin-right: 10px;
        vertical-align: text-top;
    }
    
    img{
        height: 64px;
        width:64px; 
        border-radius: 50%;
    }

  }