.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    width : 86%;
    margin: auto;
    margin-top: 40px;
}

.logo{
    height: 68px;
}

nav{
    height: 34px;
    display:flex;
    justify-content: space-between;
    width: 309px;
}


.nav-active, .nav-inactive{
    color : #FF6060;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%; 
    text-decoration: underline;
    margin-left: 20%; 
    transition: 0.1s; 
}

.nav-inactive{
    text-decoration: none; 
}

.nav-inactive:hover, .nav-active:hover  {
    transform: scale(1.04);
}


/* -------------------  Responsive ----------------------*/

/* --- Breakpoint 768px ---*/

@media screen and (max-width: 576px) {

    .header{
        display: flex;
        height: 47px;
        width : 90%;
        margin-top: 20px;
    }

    .logo{
        height: 47px;
    }

    nav{
        height: 17px;
        width: 140px;
    }
        /*width: 25%; */



    .nav-active{


        font-size: 15px;
        line-height: 17px; 
        margin-left: 10%; 
    }

    .nav-inactive{
        font-size: 15px;
        line-height: 17px; 
        margin-left: 10%; 
    }
  
}



