.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    width : 88%;
    margin: auto;
    margin-top: 40px;
}

.logo{
    height: 68px;
}

nav{
    width: 25%;
    height: 34px;
    min-width: 270px;
}

ul{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
}

li{
    width: 116px;
    text-align: right;
}

.nav-active, .nav-inactive{
    color : var(--main-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%; 
    text-decoration: underline;
}

.nav-inactive{
    text-decoration: none; 
}




/* -------------------  Responsive ----------------------*/


@media screen and (max-width: 576px) {

    .header{
        height: 47px;
        width : 90%;
        margin-top: 20px;
    }

    .logo{
        height: 43px;
    }

    nav{
        text-transform: uppercase;
        height: 17px;
        width: 50%;
        min-width: 0px;
    }


    ul{
        width:100%;
        margin: 0;
        padding-left:0px ;
    }
    
    li{
    width: 90px;
    font-size: 12px;
    text-align: right;
    }



    .nav-active, .nav-inactive{

        width:72px ;
        font-size: 15px;
        line-height: 17px; 
        margin-left: 10%; 
    }

}



