.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    width : 86%;
    margin: auto;
    margin-top: 40px;
}

.logo{
    height: 68px;
}

nav{
    width: 25%;
    height: 34px;
    min-width: 270px;
}

ul{

    display:flex;
    justify-content: space-between;
    list-style-type: none;

    margin: 0;
}

li{
width: 116px;
text-align: right;
}

 .nav-active, .nav-inactive{
    color : #FF6060;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%; 
    text-decoration: underline;
    transition: 0.5s; 
}

.nav-inactive{
    text-decoration: none; 
}

.nav-inactive:hover, .nav-active:hover  {
    transform: scale(1.1);
}


/* -------------------  Responsive ----------------------*/

/* --- Breakpoint 768px ---*/

@media screen and (max-width: 576px) {

    .header{
        display: flex;
        height: 47px;
        width : 90%;
        margin-top: 20px;
    }

    .logo{
        height: 47px;
    }

    nav{
        height: 17px;
        width: 140px;
        min-width: 50px;
    }

    
    ul{
        width:100%;
        margin: 0;
        padding-left:0px ;
    }
    
    li{
    width: 71px;
    text-align: right;
    }



    .nav-active, .nav-inactive{


        font-size: 15px;
        line-height: 17px; 
        margin-left: 10%; 
    }

}



