.footer{
    height: 209px;
    margin: auto;
    background-color: black;
}

.logo_container{
    height: 36px;
    text-align: center;
    padding-top: 62px;
}

.texte_copiright{
    color: white;
    text-align: center;
    margin-top: 31px;
    font-weight: 500;
    font-size: 14px;
}


@media screen and (max-width: 576px) {

    .logo_container{
        height: 36px;
    }
    .texte_copiright{
        font-size: 14px;
    }
}