

.info-tags-rating-hostProfil_contenair{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


.infos_contenair{
    margin-top: 30px;
}

.housing_title_image{
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    color: #FF6060;
}

.housing_location{
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: #FF6060;
}


.hostProfil-rating_contenair{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:120px
}


.collapses_contenair{
    display: flex;
   flex-direction: row;
   gap: 75px;
}

.housing_collapse{
    white-space: pre-wrap;
}





  /* -------------------  Responsive ----------------------*/
  
  
    @media screen and (max-width: 576px) {

        .body{
            width: 90%;
                margin: auto;
            }
            .info-tags-rating-hostProfil_contenair{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: baseline;
                
                justify-content: space-between;
                align-items: flex-end;
            }
            .infos_contenair{
                margin-top: 15px;
            }
            
            .housing_title_image{
                font-size: 18px;
            }
            
            .housing_location{
                font-size: 14px;
            }
    }