:root{
    /*--main-bg-color:#E5E5E5;
    --second-bg-color: #F7F7F7;*/
    --main-bg-color: #F7F7F7;
    --second-bg-color: #f1f1f1;
    --main-color: #FF6060;
    --second-color: white;
    background-color: var(--main-bg-color);
    color : var(--main-color)
 
}


.body{
    width: 86.1%;
    margin: auto;
    }


/* -------------------  Responsive ----------------------*/

@media screen and (max-width: 576px) {

    .body{
        width: 90%;
        margin: auto;
        }
}