.carroussel_container{
    position: relative;
    height: 415px;
    margin-top: 25px ;
    border-radius: 25px;
}

.carroussel_picture{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.button_forward{
    position: absolute;
    right: -30px;
    top: 35%;
    color: var(--second-color);
    font-size: 140px !important;
}

.button_backward{
    position: absolute;
    left: -30px;
    top: 35%;
    color: var(--second-color);
    font-size: 140px !important;
}

.button_forward :hover, .button_backward:hover{
    cursor: pointer;
}


.caroussel_index{
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 85%;
    color: var(--second-color);
    font-size: 20px;
}

/* -------------------  Responsive ----------------------*/



@media screen and (max-width: 576px) {

    .carroussel_container{
        height: 255px;
        margin-top: 27px ;
    }
        
    .button_forward{
        right: 0px;
        top: 43%;
        font-size: 40px !important;
    }
    
    .button_backward{
        left: 0px;
        top: 43%;
        font-size: 40px !important;

    }
    
    .button_forward :hover, .button_backward:ho{
        cursor: pointer;
    }
    
    .caroussel_index{
     display: none;
    }
    

}